/*#logo{width:100%;height:auto;}*/
#header p{color:red;font-size:20px;text-align:center;}
#header a{color:blue;font-size:20px;text-decoration:none;}
#header a:hover{color:black;font-size:20px;text-decoration:none;}
#right{text-align: right;}